################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/HardyWeinbergTest/.vs/HardyWeinbergTest/v15/sqlite3
/.vs/slnx.sqlite
