################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/HardyWeinbergTest/.vs/HardyWeinbergTest/v15/sqlite3
/.vs/slnx.sqlite
/PedigreeObjectsTest/.vs/PedigreeObjectsTest/v15/sqlite3
**/bin
**/obj
*dil
**/packages
/HardyWeinbergTest/.vs/HardyWeinbergTest/v15/Server/sqlite3
